@import url("https://www.idea.int/sites/all/themes/idea/css/custom.css?ru0t0c");

table,
th,
td {
  border: 1px solid #96d4d4;
  border-collapse: collapse;
  padding: 5px;
}

td:nth-child(2) {
  border-right: none;
}
td:nth-child(3) {
  border-left: none;
}

button {
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  line-height: 1.42857143;
  color: #fff;
  padding: 14px 25px;
  background-color: #f38336;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
  border: none;
  white-space: normal;
  word-wrap: break-word;
  margin-top: 5px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  width: 500px;
  font-weight: normal;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -5px;
  left: 105%;
}

.tooltip ul {
  display: table-row;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
